h1, h2, h3, h4{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

// automaticka barva vnorenych odkazu
a{
    color: inherit;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.content{
    width: 1174px;
    height: 581px;
    background: white;
    margin: 0 auto;
    margin-top: 50px;
}