h1, h2, h3, h4{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

// automaticka barva vnorenych odkazu
a{
    color: inherit;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

%title,
%subtitle{
    font-weight: normal;
}

%title{}

%subtitle{
    font-variant: small-caps;
}

.content{
    @include cf;
    width: 100%;
    margin: 0 auto;
    padding: 0;

    @include breakpoint($bp--s-up) {
        padding: 30px;
    }

    @include breakpoint($bp--l-up) {
        width: 1174px;
        padding: 0;
    }

    .is-home &{
        @include breakpoint($bp--m-up) {
            padding: 0;
            width: 1174px;
            height: 580px;
            padding-bottom: 40px;
        }
    }

    &.has-background{
        background: #335258;
        color: white;
        @include breakpoint($bp--l-up) {
            background: #335258 image-url("rectangle.png") no-repeat center center;

        }
    }

    p{
        margin-bottom: 20px;
        font-size: 17px;
    }
}

.col{
    @include breakpoint($bp--l-up) {
        height: 580px;
        width: 50%;
        float: left;
        padding: 40px 55px;
    }
}

