.gallery{

    height: 100%;
    background: #335258;
    position: relative;
    padding: 30px;

    @include breakpoint($bp--m-up) {
        width: 980px;
        height: 580px;
        padding: 0px;
    }
    @include breakpoint($bp--l-up) {
        width: 1174px;
        background: #335258 image-url("rectangle.png") no-repeat center center;
    }
}

.gallery__slider{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    @include breakpoint($bp--l-up) {
        width: 980px;
        margin: 0 auto;
    }
}

.gallery__playlist{
    @include cf;
    @include breakpoint($bp--m-up) {
        width: 20000em;
        position: relative;
    }
}

.gallery__arrow{
    width: 28px;
    height: 28px;
    position: absolute;
    top: 50%;
    margin-top: -14px;
    z-index: 777;
    display: none;
    @include breakpoint($bp--m-up) {
        display: block;
    }
}

.gallery__arrow-left{
    left: 10px;
    @include breakpoint($bp--l-up) {
        left: 55px;
    }
}

.gallery__arrow-right{
    right: 4px;
    @include breakpoint($bp--l-up) {
        right: 55px;
    }
}

.gallery__playlist__screen{
    width: 100%;
    height: 100%;
    text-align: center;
    @include cf;

    @include breakpoint($bp--s-up) {
        padding: 0;
    }
    @include breakpoint($bp--m-up) {
        width: 980px;
        float: left;
        padding: 30px 0px 0 0;
    }
    @include breakpoint($bp--l-up) {
        padding-bottom: 4px; /* 23 - 19 (margin-bottom posledniho radku) */
    }

}

.gallery__item{
    display: inline-block;
    width: 215px;
    height: 167px;
    cursor: pointer;
    font-size: 0;
    margin: 5px 0 20px 0;
    @include breakpoint($bp--m-up) {
        margin: 5px 0 5px 10px;
    }

    a{
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px;
        background: #fefeff;
        &:hover{
            background: #d7cfb9;
        }
    }
}