* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html, body{
    width: 100%;
}

html{
    //min-width: 1024px; // ipad issue
}

body{
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-align: center;
    background: image-url("bg.jpg") no-repeat center 0;
    background-attachment: fixed;
    padding-top: 60px;
}

.is-envelope{
    width: 100%;
    height: 100%;
    text-align: left;
    position: relative;

    @include breakpoint($bp--l-up) {
        width: 1320px;
        margin: 0 auto;

        &.is-primary{
            margin-bottom: 210px;
        }

        .footer &{
            padding-top: 0;
        }
    }
}

.is-hide{
    display: none;
}