.homepage{
    width: 381px;
    height: 580px;
    background: #e0e0e0 image-url("hp/rectangle.png") no-repeat center center;
    position: relative;
    float: left;
}

.homepage__logo{
    padding-top: 15px;
}

.homepage__text{
    padding: 25px;
    font-size: 16px;
    color: #7f7f7f;
    line-height: 20px;

    p{
        font-size: 14px;
    }
}

.homepage__button{
    display: block;
    width: 354px;
    height: 82px;
    background: image-url("hp/button.png") no-repeat 0 0;
    padding-top: 20px;
    text-align: center;
    font-size: 16px;
    color: #e0e0df;
    text-decoration: none;
    margin-left: 5px;

    &:hover{
        text-decoration: none;
    }
}
