.homepage{
    width: 100%;
    height: 580px;
    background: #e0e0e0;
    position: relative;
    text-align: center;
    @include breakpoint($bp--m-up) {
        float: left;
        width: 381px;
        background: #e0e0e0 image-url("hp/rectangle.png") no-repeat center center;
        text-align: left;
    }
}

.homepage__logo{
    padding-top: 15px;
    img{
        width: 100%;
        @include breakpoint($bp--s-up) {
            width: auto;
        }
    }
}

.homepage__text{
    padding: 25px;
    font-size: 16px;
    color: #7f7f7f;
    line-height: 20px;

    p{
        font-size: 14px;
    }
}

.homepage__button{
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #33505E;
    text-align: center;
    font-size: 16px;
    color: #e0e0df;
    text-decoration: none;
    margin-left: 0px;

    @include breakpoint($bp--s-up) {
        width: 354px;
        height: 82px;
        padding-top: 20px;
        line-height: 1em;
        background: image-url("hp/button.png") no-repeat 0 0;
    }

    @include breakpoint($bp--l-up) {
       margin-left: 5px;
    }

    &:hover{
        text-decoration: none;
    }
}
