
// menu
// ====================================

.menu{
    @include cf;
    width: 100%;
    text-align: center;
    font-size: 0px;

    a{
        display: block;
        width: 100%;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }

    .page &{
        padding-top: 15px;
        padding-top: 15px;
        background-color: #DFDFDF;
        display: none;

        @include breakpoint($bp--s-up) {
            display: block;
            padding-top: 155px;
            background: transparent image-url("menu-design.png") no-repeat center 110px;
        }
    }

    .footer &{
        height: 50px;
        position: absolute;
        bottom: 0;
        text-align: left;
        @include breakpoint($bp--l-up) {
            text-align: center;
        }
    }

    .is-home &{
        background-position: 252px 110px;
    }
    .hover-home &{
        background-position: 252px 110px !important;
    }
    .is-about &{
        background-position: 343px 110px;
    }
    .hover-about &{
        background-position: 343px 110px !important;
    }
    .is-stallions &{
        background-position: 452px 110px;
    }
    .hover-stallions &{
        background-position: 452px 110px !important;
    }
    .is-horses &{
        background-position: 569px 110px;
    }
    .hover-horses &{
        background-position: 569px 110px !important;
    }
    .is-services &{
        background-position: 673px 110px;
    }
    .hover-services &{
        background-position: 673px 110px !important;
    }
    .is-news &{
        background-position: 775px 110px;
    }
    .hover-news &{
        background-position: 775px 110px !important;
    }
    .is-gallery &{
        background-position: 874px 110px;
    }
    .hover-gallery &{
        background-position: 874px 110px !important;
    }
}

// polozky menu
// ====================================

.menu__item{
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;

    &.has-submenu{
        position: relative;
        @include breakpoint($bp--m-up) {
            background: image-url("submenu-arrow.png") no-repeat center bottom;
        }

    }

    .page &{
        padding-left: 17px;
        padding-right: 17px;
        height: 30px;
        display: block;
        @include breakpoint($bp--s-up) {
            height: 60px;
            display: inline-block;
        }
    }
    .footer &{
        padding-left: 14px;
        padding-right: 14px;
        height: 50px;
        line-height: 50px;
    }
}

// odkazy v menu
// ====================================

.menu__link{
    text-decoration: none;

    .page &{
        color: #3a5b6b;
        @include breakpoint($bp--s-up) {
            color: #3a5b6b;
        }
    }
    .footer &{
        color: white;
    }
}

// submenu
// ====================================

.submenu{
    position: absolute;
    left: 3px;
    top: 60px;
    width: 90px;
    background-color: #3F6474;
    z-index: 888;
    display: none;

    &.is-visible{
        display: block;
    }
}

.submenu__item{
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    color: white;
    border-bottom: 1px solid #385661;
    font-size: 14px;

    &.is-last{
        border-bottom: 0;
    }
}